// Mint Theme
$color--brickRed: #C33C54;
$color--richBlack: #0D1321;
$color--celdaonBlue: #37718E;
$color--skyBlue: #8EE3EF;
$color--celeste: #AEF3E7;

// Orange Theme
$color--sinopia: #C54A07;
$color--persimmon: #EC5809;
$color--orangePantone: #F66213;
$color--nickel: #626C66;
$color--blackChocolate: #090C02;

// Media Breakpoints
$breakpoint--mobile: 600px;
$breakpoint--laptop: 800px;
$breakpoint--desktop: 1200px;