@import "../../../../Styles/module.scss";

$white-opacity: #ffffff60;

.page--landing {
    height: 100vh;
    width: 100%;
    background-image: url('../../../../Assets/Images/ropeBG.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    @include Flexbox(row, center, center);

    .landing-content {
        height: 100%;
        width: 100%;
        max-width: 1200px;
        padding: 20px;
        @include Flexbox(row, center, center);

        .content-left {
            @include Flexbox(column, center, center);
            height: calc(100% - 50px);
            margin-top: 50px;

            .content-logo {
                width: 600px;
                height: 600px;
                max-height: 80%;
                background-color: $white-opacity;
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;

                svg {
                    width: 100%;
                    height: 100%;
                }
            }

            .content-socials {
                @include Flexbox(row, center, center);
                background-color: black;
                width: 100%;
                padding: 10px 0;
    
                a {
                    margin: 0 5px;
    
                    .icon {
                        border: 2px solid white;
                        border-radius: 50%;
                        transition: all 0.5s ease;
                        height: 50px;
                        width: 50px;
                        background-color: transparent;
                        @include Flexbox(row, center, center);
    
                        svg {
                            fill: white;
                            height: 25px;
                            width: 25px;
                        }
    
                        &:hover {
                            background-color: white;
                            svg {
                                fill: $color--richBlack;
                            }
                        }
                    }
                }
            }
        }

        .content-right {
            @include Flexbox(column, center, center);
            padding: 20px;

            .shop-button {
                background-color: $color--richBlack;
                padding: 10px 20px;
                color: white;
                transition: all 0.5s ease;
                min-width: 250px;
                border-radius: 0;
                margin: 10px 0;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }

    @include MobileQuery {
        .landing-content {
            @include Flexbox(column, center, center);

            .content-left {
                .content-logo {
                    height: 300px;
                    width: 300px;
                }
            }
        }
    }
}