@import "../../Styles/module.scss";

.page--products {
    width: 100%;
    padding: 20px;
    background-color: $color--richBlack;
    @include Flexbox(row, center, center);

    .products-content {
        width: 100%;
        max-width: 1200px;
        @include Flexbox(column, center, center);

        .content-title {
            color: white;
            font-size: 24px;
            margin-bottom: 30px;
        }
        .content-products {
            @include Flexbox(row, center, center, wrap);
        }
    }

    @include MobileQuery {
        .product-overview {
            .product-overview-content {
                width: 95%;

                .product-overview-images {
                    height: 40%;
                    .product-overview-mainImage {
                    }
                }
    
                .product-overview-details {
                    @include Flexbox(column, center);
                    height: 60%;
    
                    .product-overview-title {
                    }
                    .product-overview-description {
                        &-title {
                        }
                    }
                }
            }
        }
    }
}