@import "../../../Styles/module.scss";

.product-overview {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    @include Flexbox(row, center, center);
    
    .product-overview-content {
        width: 600px;
        height: 65%;
        background-color: white;
        border-radius: 10px;

        .product-overview-images {
            width: 100%;
            height: calc(100% - 150px);
            position: relative;

            .product-overview-cancel {
                position: absolute;
                right: 20px;
                top: 20px;
                cursor: pointer;
                height: 30px;
                width: 30px;

                svg {
                    height: 100%;
                    width: 100%;
                    fill: #00000090;

                    &:hover {
                        fill: #000;
                    }
                }
            }

            .product-overview-left-shift {
                position: absolute;
                left: 20px;
                top: 50%;
                cursor: pointer;
                height: 30px;
                width: 30px;
                transform: rotate(180deg);

                svg {
                    height: 100%;
                    width: 100%;
                    fill: #00000090;

                    &:hover {
                        fill: #000;
                    }
                }
            }
            .product-overview-right-shift {
                position: absolute;
                right: 20px;
                top: 50%;
                cursor: pointer;
                height: 30px;
                width: 30px;

                svg {
                    height: 100%;
                    width: 100%;
                    fill: #00000090;

                    &:hover {
                        fill: #000;
                    }
                }
            }

            .product-overview-mainImage {
                width: 100%;
                height: 100%;
                background-size: contain;
                background-repeat: no-repeat;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                background-position: center;
                background-color: #00000020;
            }
        }

        .product-overview-details {
            @include Flexbox(column, center);
            height: 150px;
            overflow: auto;
            width: 100%;

            .product-overview-title {
                font-size: 20px;
                line-height: 22px;
                font-weight: bold;
                padding: 10px 0;
                text-align: center;
            }
            .product-overview-description {
                @include Flexbox(column, center);
                height: 100%;

                &-title {
                    font-size: 16px;
                    line-height: 20px;
                    width: 250px;
                    max-width: 100%;
                    font-weight: bold;
                    border-bottom: 1px solid $color--richBlack;
                }
            }

            .product-overview-description-text-container {
                @include Flexbox(row, center, center);
                flex-wrap: wrap;
                max-width: 80%;
                height: calc(100% - 42px);

                .product-overview-description-text {
                    background-color: $color--richBlack;
                    color: white;
                    padding: 5px 20px;
                    max-height: 30px;
                    margin-right: 5px;
                    margin-top: 5px;
                }
            }
        }
    }
}